<div class="form-container">
    <h2 class="form-title">Search Engine</h2>
    <form>
        <span>
            <img src="../../../../assets/img/google.png" alt="google-icon" class="google-icon">
            <input type="text" value="Log in with Google" class="form-input">
        </span>
        <br>or
        <br>
        <label for="userName"></label>
        <input type="text" placeholder="User" class="form-input" required>
        <!-- <div class="alert">
            <div class="alert">Required Field</div>
        </div> -->

        <label for="password"></label>
        <input type="text" placeholder="Password" class="form-input" required minlength="4">
        <!-- <div>
            <div class="alert">Required field</div>
            <div class="alert">4 characters minimum</div>
        </div> -->

        <button type="submit" class="login">LogIn</button>
        <p>Forgot password?</p>
        <span>No account? Create one</span>
    </form>
</div>