.top-bar-container {
    margin: 0;
    display: inline-flex;
}

.logo {
    margin: 1rem;
    max-width: 32px;
    cursor: pointer;
}

.unsplash-title {
    margin: .5rem 0 0;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}

.top-bar-title {
    margin: 0;
    padding: 0;
    max-width: 40px;
    cursor: pointer;
}

.form-container {
    margin: 2rem auto;
    width: max-content;
    border-radius: var(--border-radius-2);
    box-shadow: var(--shadow-2);
}

.form-title {
    margin: auto;
    padding: 1rem 4rem;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-title);
    font-size: var(--font-size-3);
    border-radius: var(--border-radius-2) var(--border-radius-2) 0 0;
}

.form {
    margin: auto;
    padding: 1rem;
    width: min-content;
    font-family: var(--font-family-1);
    text-align: center;
}

.form-input {
    margin: 1rem;
    width: 20rem;
    padding: 1rem;
    border-radius: var(--border-radius-2);
    border: 1px solid var(--color-gray);
}

.input-google {
    text-align: center;
}

.login {
    margin: 2rem;
    padding: 1rem 3rem;
    width: 10rem;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: var(--border-radius-2);
    border: none;
    font-weight: 600;
}

.google-icon {
    width: 1.1rem;
    position: relative;
    top: 3.3rem;
    left: -5rem;
}

.alert {
    color: var(--color-red);
    text-align: center;
    font-weight: 700;
    width: 90%;
    margin: 1rem;
}