<div class="photo-container">
    <div class="photo-card">
        <img src={{photo.urls.full}} alt={{photo.description}} class="photo-img">
        <div>
            <span class="photo-likes">
            <img src="../../../../../../assets/images/like.png" alt="likes" class="photo-icon">
            <span>{{photo.likes}}</span>
            </span>
            <span class="photo-user-info">
            <img src={{photo.user.profile_image.small}} alt="photo-user" class="user-photo">
            <span>{{photo.user.name}}</span>
            </span>
        </div>
    </div>

</div>